**BREVE DEFINICIÓN LISTAS**

In [ ]:
#sort
lista1= [19,1,04,08,04,87]
lista2= ["Michelle", "Andrea", "Gomez", "Pinzon"]
lista1.sort()
print(lista1)
lista2.sort()
print(lista2)

**BREVE DEFINICIÓN DICCIONARIO**

In [ ]:
dict1 = {"nombre": "Michelle", "apellido1": "Gomez"}
dict2 = {"día": 19, "mes": 1, "año": 2004}


**EJERCICIOS LISTAS**

In [4]:

list1 = [100, 200, 300, 400, 500]
list1.reverse()
print(list1)

[500, 400, 300, 200, 100]

In [6]:
lista1 = ["M", "nom", "e", "e"]
lista2 = ["i", "bre", "s", "quis"]

resultado = [a + b for a, b in zip(lista1, lista2)]

resultado[-1] = "Michelle Gómez"

print(resultado)

['Mi', 'nombre', 'es', 'Michelle Gómez']

In [7]:
lista = [1, 2, 3, 4, 5, 6, 7]

# Calculamos el cuadrado de cada elemento
resultado = [x * x for x in lista]

print(resultado)

[1, 4, 9, 16, 25, 36, 49]

In [8]:
lista1 = ["Hola ", "toma "]
lista2 = ["Querido", "Señor"]

resultado = [a + b for a in lista1 for b in lista2]

print(resultado)

['Hola Querido', 'Hola Señor', 'toma Querido', 'toma Señor']

In [9]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

# Emparejamos los elementos de list1 con los de list2 en orden inverso
for a, b in zip(list1, reversed(list2)):
    print(a, b)

10 400
20 300
30 200
40 100

In [10]:
lista = ["Mike", "", "Emma", "Kelly", "", "Brad"]

resultado = [x for x in lista if x]

print(resultado)

['Mike', 'Emma', 'Kelly', 'Brad']

In [11]:
lista = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

lista[2][2].append(7000)

print(lista)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [12]:
lista1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
lista2 = ["h", "i", "j"]

lista1[2][1][2].extend(lista2)

print(lista1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [13]:

lista = [5, 10, 15, 20, 25, 50, 20]

indice_mitad = len(lista) // 2


lista[indice_mitad] = 200


print(lista)

[5, 10, 15, 200, 25, 50, 20]

In [14]:

lista = [5, 20, 15, 20, 25, 50, 20]

# Creamos una lista vacía para almacenar los elementos únicos
unicos = []

# Iteramos sobre los elementos de la lista original
for elemento in lista:
    # Agregamos el elemento a la lista de únicos solo si no está ya presente
    if elemento not in unicos:
        unicos.append(elemento)

# Imprimimos la lista con los elementos únicos
print(unicos)

[5, 20, 15, 25, 50]

In [15]:

lista = [5, 20, 15, 20, 25, 50, 20]

# Creamos un diccionario para almacenar las frecuencias de cada elemento
frecuencias = {}

for elemento in lista:

    if elemento in frecuencias:
        frecuencias[elemento] += 1

    else:
        frecuencias[elemento] = 1


for elemento, conteo in frecuencias.items():
    print(f"{elemento} = {conteo}")

5 = 1
20 = 3
15 = 1
25 = 1
50 = 1

In [16]:

lista = [5, 20, 15, 20, 25, 50, 20]


orden = input("Ingrese 'men' para ordenar de menor a mayor o 'may' para ordenar de mayor a menor: ")


if orden == 'men':
    lista.sort()
elif orden == 'may':
    lista.sort(reverse=True)
else:
    print("Opción no válida. La lista no se ordenará.")


print(lista)

Ingrese 'men' para ordenar de menor a mayor o 'may' para ordenar de mayor a menor: men
[5, 15, 20, 20, 20, 25, 50]

In [17]:
import math

lista = [5, 20, 15, 20, 25, 50, 20]


suma = sum(lista)


multiplicacion = math.prod(lista)


numero_mayor = max(lista)


numero_menor = min(lista)

# Imprimimos los resultados
print(f"Suma de todos los elementos: {suma}")
print(f"Multiplicación de todos los elementos: {multiplicacion}")
print(f"Número mayor: {numero_mayor}")
print(f"Número menor: {numero_menor}")

Suma de todos los elementos: 155
Multiplicación de todos los elementos: 750000000
Número mayor: 50
Número menor: 5

In [18]:

lista1 = [10, 30, 50, 70, 90]
lista2 = [30, 60, 90, 120]

diferencia = list(set(lista1).symmetric_difference(set(lista2)))


print("Diferencia entre lista1 y lista2:", diferencia)

Diferencia entre lista1 y lista2: [70, 10, 50, 120, 60]

In [19]:

lista = [45, 23, 67, 12, 89, 34, 56, 10, 78, 31]


lista_ordenada = sorted(lista)


segundo_menor = lista_ordenada[1]
tercer_menor = lista_ordenada[2]


print("Segundo menor elemento:", segundo_menor)
print("Tercer menor elemento:", tercer_menor)

Segundo menor elemento: 12
Tercer menor elemento: 23

In [20]:

lista_principal = [15, 30, 45, 60, 75, 90,]

# a. Lista1: Suma del segundo elemento con el primero
lista1 = [lista_principal[i] + lista_principal[i - 1] for i in range(1, len(lista_principal))]

# b. Lista2: Resta del segundo elemento con el primero, reemplazando negativos con 0
lista2 = [max(lista_principal[i] - lista_principal[i - 1], 0) for i in range(1, len(lista_principal))]

# c. Lista3: Multiplica cada uno de los elementos por 2
lista3 = [elemento * 2 for elemento in lista_principal]

# d. Lista4: Eleva cada uno de los elementos al cuadrado
lista4 = [elemento ** 2 for elemento in lista_principal]

# Imprimimos los resultados
print("Lista1 =", lista1)
print("Lista2 =", lista2)
print("Lista3 =", lista3)
print("Lista4 =", lista4)

Lista1 = [45, 75, 105, 135, 165]
Lista2 = [15, 15, 15, 15, 15]
Lista3 = [30, 60, 90, 120, 150, 180]
Lista4 = [225, 900, 2025, 3600, 5625, 8100]

In [21]:
def separar_lista(lista, n):
    resultado = [[] for _ in range(n)]
    for i, elemento in enumerate(lista):
        resultado[i % n].append(elemento)
    return resultado

# Ejemplo de uso
lista_original = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n']
n = 5

resultado = separar_lista(lista_original, n)
print(resultado)

[['a', 'f', 'k'], ['b', 'g', 'l'], ['c', 'h', 'm'], ['d', 'i', 'n'], ['e', 'j']]

In [22]:
def mover_ceros_al_final(lista):
    # Contamos el número de ceros
    contador_ceros = lista.count(0)

    # Removemos todos los ceros de la lista
    lista = [num for num in lista if num != 0]

    # Añadimos los ceros al final de la lista
    lista.extend([0] * contador_ceros)

    return lista

# Ejemplo de uso
lista_original = [3, 4, 0, 0, 0, 6, 2, 0, 6, 7, 6, 0, 0, 0, 9, 10, 7, 4, 4, 5, 3, 0, 0, 2, 9, 7, 1]
resultado = mover_ceros_al_final(lista_original)
print(resultado)

[3, 4, 6, 2, 6, 7, 6, 9, 10, 7, 4, 4, 5, 3, 2, 9, 7, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0]

**EJERCICIOS DICCIONARIO**

In [23]:

color_names = ["Black", "Red", "Maroon", "Yellow"]
color_codes = ["#000000", "#FF0000", "#800000", "#FFFF00"]

# Crear una lista de diccionarios combinando los elementos de ambas listas
result = [{'color_name': name, 'color_code': code} for name, code in zip(color_names, color_codes)]

# Imprimir el resultado
print(result)

[{'color_name': 'Black', 'color_code': '#000000'}, {'color_name': 'Red', 'color_code': '#FF0000'}, {'color_name': 'Maroon', 'color_code': '#800000'}, {'color_name': 'Yellow', 'color_code': '#FFFF00'}]

In [24]:
# Generar el diccionario donde la clave es el número y el valor es su cuadrado
square_dict = {num: num**2 for num in range(1, 16)}

# Imprimir el resultado
print(square_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [25]:

d1 = {'a': 100, 'b': 200, 'c': 300}
d2 = {'a': 300, 'b': 200, 'd': 400}

# Crear un diccionario para almacenar el resultado
d3 = {}

# Unir las claves de ambos diccionarios
for key in d1.keys() | d2.keys():  # '|' es la unión de los conjuntos de claves
    d3[key] = d1.get(key, 0) + d2.get(key, 0)

print(d3)

{'d': 400, 'b': 400, 'c': 300, 'a': 400}

In [27]:

dict_list = [{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"},
             {"VII":"S005"}, {"V":"S009"}, {"VIII":"S007"}]

unique_values = {value for dic in dict_list for value in dic.values()}

print(unique_values)

{'S009', 'S002', 'S005', 'S007', 'S001'}

In [30]:

palabra = "Michelle"


contador_letras = {}

# Recorrer cada letra en la palabra
for letra in palabra:
    letra = letra.lower()  # Convertir las letras a minúsculas
    if letra in contador_letras:
        contador_letras[letra] += 1
    else:
        contador_letras[letra] = 1


print(contador_letras)

{'m': 1, 'i': 1, 'c': 1, 'h': 1, 'e': 2, 'l': 2}

In [33]:
# Diccionario con los productos y sus precios en pesos colombianos (COP)
productos = {
    1: {"nombre": "Producto 1", "precio": 10500},
    2: {"nombre": "Producto 2", "precio": 5750},
    3: {"nombre": "Producto 3", "precio": 3200},
    4: {"nombre": "Producto 4", "precio": 7300},
    5: {"nombre": "Producto 5", "precio": 12400},
    6: {"nombre": "Producto 6", "precio": 15500},
    7: {"nombre": "Producto 7", "precio": 8900},
    8: {"nombre": "Producto 8", "precio": 6600},
    9: {"nombre": "Producto 9", "precio": 4450},
    10: {"nombre": "Producto 10", "precio": 9850},
    11: {"nombre": "Producto 11", "precio": 11300},
    12: {"nombre": "Producto 12", "precio": 14000},
    13: {"nombre": "Producto 13", "precio": 16700},
    14: {"nombre": "Producto 14", "precio": 18250},
    15: {"nombre": "Producto 15", "precio": 20000}
}

# Variables para el resumen de ventas del día
clientes_atendidos = 0
productos_vendidos = 0
ganancia_total = 0.0
mayor_compra = 0.0

# Función para formatear los precios en pesos colombianos
def formatear_cop(valor):
    return f"${valor:,.2f} COP"

# Ciclo para atender múltiples clientes
while True:
    factura = {}
    total_compra = 0.0
    print("\n--- Nueva compra ---")
    print("Ingrese el número del producto o '0' para finalizar la compra.")

    # Ciclo para registrar productos en la factura
    while True:
        producto_id = int(input("Producto (1-15, o 0 para finalizar): "))

        if producto_id == 0:
            break  # Termina la compra del cliente

        if producto_id in productos:
            cantidad = int(input(f"Cantidad de {productos[producto_id]['nombre']}: "))
            subtotal = productos[producto_id]['precio'] * cantidad
            factura[productos[producto_id]['nombre']] = {
                "cantidad": cantidad,
                "subtotal": subtotal
            }
            total_compra += subtotal
            productos_vendidos += cantidad  # Acumular productos vendidos
        else:
            print("Producto no válido. Intente de nuevo.")

    # Mostrar factura del cliente
    print("\nFactura:")
    for producto, datos in factura.items():
        precio_unitario = productos[next(key for key, value in productos.items() if value["nombre"] == producto)]["precio"]
        print(f"{producto}: {datos['cantidad']} x {formatear_cop(precio_unitario)} = {formatear_cop(datos['subtotal'])}")
    print(f"Total de la compra: {formatear_cop(total_compra)}")

    # Actualizar estadísticas del día
    clientes_atendidos += 1
    ganancia_total += total_compra
    if total_compra > mayor_compra:
        mayor_compra = total_compra

    # Preguntar si hay más clientes
    continuar = input("\n¿Hay más clientes? (s/n): ").lower()
    if continuar != 's':
        break

# Mostrar resumen del día
print("\n--- Resumen del día ---")
print(f"Clientes atendidos: {clientes_atendidos}")
print(f"Productos vendidos: {productos_vendidos}")
print(f"Ganancia total: {formatear_cop(ganancia_total)}")
print(f"La mayor compra fue: {formatear_cop(mayor_compra)}")

--- Nueva compra ---
Ingrese el número del producto o '0' para finalizar la compra.
Producto (1-15, o 0 para finalizar): 5
Cantidad de Producto 5: 2
Producto (1-15, o 0 para finalizar): 8
Cantidad de Producto 8: 1
Producto (1-15, o 0 para finalizar): 25
Producto no válido. Intente de nuevo.
Producto (1-15, o 0 para finalizar): 0

Factura:
Producto 5: 2 x $12,400.00 COP = $24,800.00 COP
Producto 8: 1 x $6,600.00 COP = $6,600.00 COP
Total de la compra: $31,400.00 COP

¿Hay más clientes? (s/n): n

--- Resumen del día ---
Clientes atendidos: 1
Productos vendidos: 3
Ganancia total: $31,400.00 COP
La mayor compra fue: $31,400.00 COP